version: '3'
services:
    backend-app:
        build:
          context: .
          dockerfile: Dockerfile.dev

        ports:
            - "8081:8080"
        volumes:
            - "${HOME}/.m2:/root/.m2"
            - "./:/home/app"